/* Color Theme Swatches in Hex 
 * Source: https://color.adobe.com/search?q=work
.Practice-sketch-work--Japan's-everyday--1-hex { color: #303D40; } #dark blue
.Practice-sketch-work--Japan's-everyday--2-hex { color: #C2EDF2; } #light blue
.Practice-sketch-work--Japan's-everyday--3-hex { color: #67A65D; } #green
.Practice-sketch-work--Japan's-everyday--4-hex { color: #D9CBA3; } #beige
.Practice-sketch-work--Japan's-everyday--5-hex { color: #A69880; } #brown
*/

body {
	background-image:url("images/bg.png");
	background-repeat:no-repeat;
	font-family:sans-serif;
}

h1, h2, p {
	font-family:sans-serif;
}

h1 {
	background-color: #D9CBA3;
	color: #303D40;
}

h2 {
	color: #303D40;
}

/* logfile classes */
.log_error {
	font-family: monospace;
	color:red;
}
.log_warning {
	font-family: monospace;
	color:red;
}
