<!doctype html>
<html>
	<head>
    	<title>BaSe Webapp - {{page_name}}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   	</head>
   	<body>
	  	<h1>Hello {{ user }}!</h1>
	  	Here you can edit the config.json-File that serves all important parameters to all the backup server's units.

	  	<h2>Review and edit config.json (dynamic way)</h2>
	  	<form action="saveconfig" method="post">
	  		<table>
  			{% for section in data %}
  				<tr></tr>
  				<tr>
  					<td>[{{ section }}] </td>
  				</tr>
  				{% for parameter in data[section] %}
  					<tr>
  						<td>{{parameter}}</td>
  						<td>=</td>
  						<td>
  							{% if parameter == 'backup_frequency' %}
  								<input type="radio" name="{{section}}.backup_frequency" value="Daily" 
	  								{% if data[section][parameter]=='Daily' %} checked {% endif %}>Daily<br>
						  		<input type="radio" name="{{section}}.backup_frequency" value="Weekly"
						  			{% if data[section][parameter]=='Weekly' %} checked {% endif %}>Weekly<br>
						  		<input type="radio" name="{{section}}.backup_frequency" value="Monthly"
						  			{% if data[section][parameter]=='Monthly' %} checked {% endif %}>Monthly<br>
  							{% else %}
  								<input type="text" name ="{{section}}.{{parameter}}" value="{{data[section][parameter]}}">
  							{% endif %}
  						</td>
  					</tr>
  				{% endfor %}
  			{% endfor %}
	  		</table>
	  		<input type="submit" value="Update config.json">
	  	</form>
	  	<br>
	  	<b>What would you like to do</b><br>
	  	<a href="../">go back</a>
   	</body>
</html>
