<!doctype html>
<html>
   <head>
      <title>BaSe Webapp - {{page_name}}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h1>Hello {{ user }}!</h1>
      <p>The device with the following parameters is now your backup drive.</p>
      <table>
      <tr>
         <td>Parameter</td>
         <td>Value</td>
      </tr>
      {% for parameter, value in hdd_parameters.items() %}
      <tr>
         <td>{{parameter}}</td>
         <td>{{value}}</td>

      </tr>
      {% endfor %}
      </table>
      <p><a href="..">go back</a></p>
      
   </body>
</html>
