<!doctype html>
<html>
   <head>
      <title>BaSe Webapp - {{page_name}}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h1>Hello {{ user }}!</h1>
      <p>Please make sure, no USB memory device is connected to your Backup Server!</p>
      <p>In the next step, the Backup HDD gets docked, mounted and its device signature is being read. This signature is later used to identify the HDD the backup should be saved to</p>
      <p><a href="/setup_backup_hdd_step_2">Next</a>
      
   </body>
</html>
