<!doctype html>

<html>
   <head>
      <title>BaSe Webapp - {{page_name}}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h1>Hello {{ user }}!</h1>
      <br>
      <b>Welcome to the Communicator</b><br>
      This page allows you to send signals to the control daemon.<br>
      {% if recent_signal != '' %}
      	signal sent: {{recent_signal}}<br>
      	answer received: {{answer}}<br>
      {% endif %}
      <form method="post">
      	<h2>Signal name:</h2>
         {% for command, code in codebook.items() %}
      	<input type="radio" name="signal" value="{{code}}">{{command}}<br>
         {% endfor %}
      	<input type="radio" name="signal" value="sig_custom"><input type="text" name="custom_signal_name">
      	<input type="submit" value="Send Signal">
      </form>

      <h2>What would you like to do</h2>
      <a href="..">go back</a>
   </body>
</html>
