<!doctype html>
<html>
   <head>
      <title>BaSe Webapp - {{page_name}}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <style>
         p.normal {
            font-style: normal;
         }
         p.code {
            font-family: monospace;
         }

      </style>
   </head>
   <body>
      <h1>Hello {{ user }}!</h1>
      <h2>Select Logfile</h2>

         <form method="POST" action="logfile_viewer" name="select_filename">
            <select name="filename" id="schoolContainer">
               {% for filename in filenames %}
                  <option value="{{filename}}" {% if filename == logfile_selected %} selected {% endif %}>{{filename}}</option>
               {% endfor %}
            </select>
            <input type="hidden" value="dummy">
            <input type="submit" value="show">
         </form><br>

         <a href="..">go back</a>
      <h2>Logfile</h2>
         {% autoescape off %}
         <p class="code">
         {% for line in logfile %}
            {{ line }} <br>
         {% endfor %}
         {% endautoescape %}
         </p>
   </body>
</html>
