<!doctype html>
<html>
   <head>
      <title>BaSe Webapp - {{page_name}}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h1>Hello {{ user }}!</h1>
      <br>
      <b>What would you like to do</b><br>
      <a href="/editconfig">edit configuration</a><br>
      <a href="/communicator">control Server</a><br>
      <a href="/logfile_viewer">Show Logfile</a><br>
      <a href="/update_sbc_fw">Update SBC Firmware</a><br>
      <a href="/setup_backup_hdd">Setup Backup HDD</a>
      <form action="/shutdown" method="post"><input type="submit" value="Shutdown Webapp"></form>
   </body>
</html>
