<!doctype html>
<head>
   <title>BaSe Webapp - {{page_name}}</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<html>
   <body>
      <h1>Hello, {{user}}</h1>
      Configuration file has been saved as follows:<br>
      <table>
         {% for key, value in config_to_show.items() %}
         
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
            
         {% endfor %}
      </table><br>
      <a href="..">Go back</a>
      
   </body>
</html>
