<!doctype html>
<html>
   <head>
      <title>BaSe Webapp - {{page_name}}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <style>
         p.normal {
            font-style: normal;
         }
         p.code {
            font-family: monospace;
         }

      </style>
   </head>
   <body>
      <h1>Hello {{ user }}!</h1>

      You sucessfully uploaded your hex-file

      <h2>Here are the next steps</h2>
         You need to trigger the firmware update manually for now:<br>
         1. Goto the Communicator (<a href="/communicator">here</a>)<br>
         2. check the radio-button sbu_update
         3. click send<br>
   </body>
</html>