<!doctype html>
<html>
   <head>
      <title>BaSe Webapp - {{page_name}}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h1>Hello {{ user }}!</h1>
      <p>Your Backup HDD has the following properties:</p>
      <form action="setup_backup_hdd_step_3" method="post">
      <table>
         <tr>
            <td>Device File</td>
            <td>Model Number</td>
            <td>Serial Number</td>
            <td>Size in MB (1MB = 1000*1000 Bytes)</td>
            <td>Use as BackupHDD</td>
         </tr>
         {% for sd_device, parameters in hdd_parameters.items() %}
         <tr>
            <td> {{sd_device}} </td>
         {% for key, value in parameters.items() %}
            <td> {{value}} </td>
         {% endfor %}
            <td> <input type="radio" name="device_for_BUHDD" value="{{sd_device}}"></td>
         </tr>
         {% endfor %}
      </table>
      <input type="submit" value="Use selected Device as Backup HDD">
      </form>
      
   </body>
</html>
