<!doctype html>
<html>
   <head>
      <title>BaSe Webapp - {{page_name}}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <style>
         p.normal {
            font-style: normal;
         }
         p.code {
            font-family: monospace;
         }

      </style>
   </head>
   <body>
      <h1>Hello {{ user }}!</h1>

      <h2>Doesn't work yet. Here's the workaround</h2>
         The serial communication required for flashing the SBC cannot be established for some reason inside BaSe.<br>
         Upload the hex-file with the facilites here, the consequtive steps will be shown afterwards, but keep you terminal ready<br>

      <h2>Upload SBC Firmware File (*.hex)</h2>
         <form method="post" enctype="multipart/form-data" action="upload_and_flash_fw_to_sbc">
            <input type="file" name="sbc_fw_file">
            <input type="submit" value="Upload">
         </form>
   </body>
</html>