[Unit]
Description=BaSe Webapp
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/base/base/webapp
ExecStart=/usr/bin/gunicorn3 --workers 3 --bind unix:/tmp/base-webapp.sock wsgi

[Install]
WantedBy=multi-user.target
